<div class="wrap-left" >

<nav class="menu">
<p class="menu"></p>
<ul>
<li><a href="{{ page.relative }}">Top</a></li>
<li><a href="{{ page.relative }}about/">About</a></li>
<li><a href="{{ page.relative }}game/">Game</a></li>
<li><a href="{{ page.relative }}other/">Other</a></li>
</ul>
<p class="menu"></p>
</nav>

<a class="banner" href="{{ page.relative }}game/black/">
<img alt="The black" src="{{ page.relative }}game/black/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/amedama/">
<img alt="あめだまシューティング" src="{{ page.relative }}game/amedama/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/fishing/">
<img alt="Strange Fishing" src="{{ page.relative }}game/fishing/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/fxb/">
<img alt="Fixed Battery" src="{{ page.relative }}game/fxb/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/bird2016/">
<img alt="BIRD WATCH 2016" src="{{ page.relative }}game/bird2016/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/bird/">
<img alt="BIRD WATCH" src="{{ page.relative }}game/bird/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/jyorei/">
<img alt="除霊する人" src="{{ page.relative }}game/jyorei/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/ccrt/">
<img alt="コインコレクト" src="{{ page.relative }}game/ccrt/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/geeryoke/">
<img alt="ＧＥＥＲ－ＹＯＫＥ" src="{{ page.relative }}game/geeryoke/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/gravian/">
<img alt="グラヴィアンシューティング" src="{{ page.relative }}game/gravian/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/pdd/">
<img alt="Puzzle＆Defence＆Dragons" src="{{ page.relative }}game/pdd/banner.png">
</a>

</div>
