<div class="wrap-left" >

<nav class="menu">
<p class="menu"></p>
<ul>
<li><a href="{{ page.relative }}index.html">Top</a></li>
<li><a href="{{ page.relative }}about/index.html">About</a></li>
<li><a href="{{ page.relative }}game/index.html">Game</a></li>
<li><a href="{{ page.relative }}other/index.html">Other</a></li>
</ul>
<p class="menu"></p>
</nav>

<a class="banner" href="{{ page.relative }}game/amedama/index.html">
<img alt="あめだまシューティング" src="{{ page.relative }}game/amedama/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/fxb/index.html">
<img alt="Fixed Battery" src="{{ page.relative }}game/fxb/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/bird2016/index.html">
<img alt="BIRD WATCH 2016" src="{{ page.relative }}game/bird2016/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/bird/index.html">
<img alt="BIRD WATCH" src="{{ page.relative }}game/bird/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/jyorei/index.html">
<img alt="除霊する人" src="{{ page.relative }}game/jyorei/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/ccrt/index.html">
<img alt="コインコレクト" src="{{ page.relative }}game/ccrt/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/geeryoke/index.html">
<img alt="ＧＥＥＲ－ＹＯＫＥ" src="{{ page.relative }}game/geeryoke/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/gravian/index.html">
<img alt="グラヴィアンシューティング" src="{{ page.relative }}game/gravian/banner.png">
</a>

<a class="banner" href="{{ page.relative }}game/pdd/index.html">
<img alt="Puzzle＆Defence＆Dragons" src="{{ page.relative }}game/pdd/banner.png">
</a>

</div>
